{% extends "base.html.twig" %}

{% block body %}
    <h1>Bienvenue dans ce blog !</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro minima illo enim
        officiis iusto aspernatur in facilis minus sint eaque, omnis necessitatibus
        cumque repudiandae animi provident, dolorem reprehenderit. Ipsa, architecto
        quas! Sunt iste cupiditate quisquam, ratione minus facere necessitatibus architecto?</p>

    <a href="{{ path('blog_articles') }}" class="btn btn-primary btn-block">Consulter et commenter les articles</a>
{% endblock %}